@model dynamic

@{
    ViewBag.Title = I18N.PurchaseOrders;
    Layout = ViewBag.PurchaseLayoutPath;
}
<style>
    .modal iframe {
        width: 100%;
        border: none;
        height: 700px;
    }
</style>

<div class="ui attached page segment" style="min-height: 100%; padding: 3em;">
    <div class="ui huge title header">@I18N.PurchaseOrders</div>
    <div class="ui divider"></div>
    <div class="ui basic buttons">
        <a id="AddNewButton" href="/dashboard/purchase/tasks/order/new" class="ui basic add new button">@I18N.AddNewPurchaseOrder</a>
        <div class="ui icon top left pointing dropdown basic button" id="ExportDropDown" tabindex="0">
            <span>
                @I18N.Export
            </span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    @I18N.ExportDocument
                </div>
                <a class="item" href="javascript:void(0);" onclick="createDoc();">
                    <i class="file word outline blue icon"></i> @I18N.ExportDoc
                </a>
                <a class="item" href="javascript:void(0);" onclick="createXls();">
                    <i class="file excel outline green icon"></i> @I18N.ExportExcel
                </a>
                <a class="item" href="javascript:void(0);" onclick="createPDF();">
                    <i class="file pdf outline red icon"></i> @I18N.ExportPdf
                </a>
            </div>
        </div>
        <a id="PrintButton" href="javascript:void(0);" onclick="print()" class="ui basic button">
            @I18N.Print
        </a>
    </div>

    <div class="ui stackable form segment" id="Annotation" style="">
        <div class="six fields">
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.From" id="FromInputDate" title="@I18N.From" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.To" id="ToInputDate" title="@I18N.To" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.ExpectedFrom" id="ExpectedFromInputDate" title="@I18N.ExpectedFrom" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.ExpectedTo" id="ExpectedToInputDate" title="@I18N.ExpectedTo" type="date">
            </div>
            <div class="field">
                <input placeholder="@I18N.Id" id="IdInputText" title="@I18N.Id" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.ReferenceNumber" id="ReferenceNumberInputText" title="@I18N.ReferenceNumber" type="text">
            </div>
        </div>
        <div class="six fields">
            <div class="field">
                <input placeholder="@I18N.Supplier" id="SupplierInputText" title="@I18N.Supplier" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.TermsConditions" id="TermsInputText" title="@I18N.TermsConditions" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.InternalMemo" id="InternalMemoInputText" title="@I18N.InternalMemo" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.PostedBy" id="PostedByInputText" title="@I18N.PostedBy" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.Office" id="OfficeInputText" title="@I18N.Office" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.UserId" id="UserIdInputText" title="@I18N.UserId" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.OfficeId" id="OfficeIdInputText" title="@I18N.OfficeId" type="text">
            </div>
            <div class="field">
                <div class="ui green button" id="ShowButton">@I18N.Show</div>
            </div>
        </div>


    </div>

    <div class="fluid width overflown section">
        <table id="JournalView" class="ui table nowrap segment">
            <thead>
                <tr>
                    <th>@I18N.Actions</th>
                    <th>@I18N.Id</th>
                    <th>@I18N.Supplier</th>
                    <th>@I18N.ValueDate</th>
                    <th>@I18N.ExpectedDate</th>
                    <th>@I18N.ReferenceNumberAbbreviated</th>
                    <th>@I18N.Terms</th>
                    <th>@I18N.InternalMemo</th>
                    <th>@I18N.PostedBy</th>
                    <th>@I18N.Office</th>
                    <th>@I18N.PostedOn</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="ui large advice modal">
    <i class="close icon"></i>
    <iframe></iframe>
</div>
<script>
    function displayTable(target, data) {
        target.find("tbody").html("");

        function getCell(text, isDate) {
            const cell = $("<td />");

            cell.text(text);

            if (isDate) {
                if ((text || "").trim()) {
                    cell.text(window.moment(new Date(text)).fromNow() || "");
                    cell.attr("title", text);
                };
            };

            return cell;
        };

        function getActionCell(id) {
            const cell = $("<td />");

            const checklistAnchor = $(`<a title='${window.translate("ChecklistWindow")}'><i class='list icon'></i></a>`);
            const checklistUrl = "/dashboard/purchase/tasks/order/checklist/{id}";
            checklistAnchor.attr("href", checklistUrl.replace("{id}", id));


            const journalAdviceAnchor = $(`<a title='${window.translate("ViewOrder")}'><i class='print icon'></i></a>`);
            journalAdviceAnchor.attr("href", "javascript:void(0);");
            journalAdviceAnchor.attr("onclick", "showOrder(" + id + ");");

            cell.append(checklistAnchor);
            cell.append(journalAdviceAnchor);

            return cell;
        };


        $.each(data, function () {
            const item = this;

            const row = $("<tr />");

            row.append(getActionCell(item.Id));
            row.append(getCell(item.Id));
            row.append(getCell(item.Supplier));
            row.append(getCell(item.ValueDate, true));
            row.append(getCell(item.ExpectedDate, true));
            row.append(getCell(item.ReferenceNumber));
            row.append(getCell(item.Terms));
            row.append(getCell(item.InternalMemo));
            row.append(getCell(item.PostedBy));
            row.append(getCell(item.Office));
            row.append(getCell(item.TransactionTs, true));

            target.find("tbody").append(row);
        });
    };

    function processQuery() {
        function getModel() {
            const form = window.serializeForm($("#Annotation"));
            return form;
        };

        function displayGrid(target) {
            function request(query) {
                const url = "/dashboard/purchase/tasks/order/view";
                const data = JSON.stringify(query);
                return window.getAjaxRequest(url, "POST", data);
            };

            const query = getModel();

            const ajax = request(query);

            ajax.success(function (response) {
                displayTable(target, response);
                target.removeClass("loading");
            });

            ajax.fail(function (xhr) {
                alert(JSON.stringify(xhr));
            });
        };

        const view = $("#JournalView").addClass("loading");

        displayGrid(view);
    };

    $("#ShowButton").off("click").on("click", function () {
        processQuery();
    });

    function showOrder(id) {
        $(".modal iframe").attr("src", `/dashboard/reports/source/Areas/MixERP.Purchases/Reports/Order.xml?order_id=${id}`);

        setTimeout(function () {
            $(".advice.modal")
                .modal('setting', 'transition', 'horizontal flip')
                .modal("show");

        }, 300);
    };

    window.loadDatepicker();

    setTimeout(function () {
        processQuery();
    }, 1000);
</script>
